

body{
    margin: 0;
    overflow-x: hidden;    
}

p{
    margin: 0;
}

.container{
    background-color: rgb(0, 102, 167);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 3rem;
    
}

.profilephto{
    size-adjust: 30%;
    border-image-width: 30px;
    left: 55%;
    height: 39px;
    margin: 0px 11.2px 0px 0px;
}
header a{
    margin-bottom: 32px;
}
.Dominos{
    width: 18.6rem;
    height: 2.75rem;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    margin-left: 5.5%;
    margin-top: 3.5%;
}
 p{
    font-family: sans-serif;
    color: rgb(106, 103, 110);
    line-height: 2rem;
    margin-left: 5.5%;
    text-align: justify;
    margin-top: -1%;
    font-size: 18px;

}

.main{
    display: flex;
    justify-content: center;
    
}

.leftside{
    background-image:url('/Images/home_search.png');
    background-position-x:-1235px;
    background-size: contain ;
    background-repeat: no-repeat;
    width: 56%;
    height: 600px;
    background-size: 3000px;
    margin-top: -8px;
}
.rightdominos{
   
    width: 920px;
    height: 450px;
    

}
.rightdominos1{
    width:100%;
    background-color: black;
    margin-right: 12%;

}
.button{
    margin-top: 4%;
     margin-left:5.5%;
     color: rgb(0, 102, 167);
     font-size: 1rem;
     cursor: pointer;
     font-family: proxima-nova, sans-serif;
}
.offerimage{
    width: 10rem;
    height: 6rem;
}
.offer{
    font-size: 1.125rem;
    margin-top: 35px;
    padding-right: -654211px;

}
.offer .offerimage{
    margin-left: 65px;
    margin-left: 95px;
    margin-top: 9px;
    border: 0.7px dotted;
}
.footer{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 46, 58);
    height: 80%;
   padding-bottom: 30px;
    

}
.logofooter{
    display: block;
    padding-top: 25px;
    padding-left: 33px;
    width: 14.4rem;
    height: 2.0rem;
    display: flex;
    margin-bottom: 40px;
}
.footerelemnts a{
    margin-left:2.3rem;
    font-size: 0.87rem;
    color: rgb(131, 154, 177);
    text-decoration: none;
    padding-bottom: 8px;
}

.download{
    margin-top: 25px;
}

.text{
   font-size: 1.25rem;
   color: aliceblue;
   padding-left: 170px;
   padding-bottom: 9px;
   padding-top: 8px;
}
.appstore{
    padding-right: 20px;
    padding-left: 99px;
    height: 50px;
}
.playstore{
    padding-right:250px;
    height: 50px;

}
.last{
    margin-top: 2;
    border-top: 1px dotted;
    border-color: rgb(82, 98, 116);
    display: flex;
    background: rgb(26, 39, 53);
    text-align: center;
    
}
.Copyright {
    margin-left: 659px;
    margin-top: 25px;

    margin-bottom: 25px;
}
.container .profilephto{
    width: 2.5rem;
    margin-top: 3px;

}
.myACCOUNT{
    padding-right: 80px;
    font-size: 0.75rem;
    text-decoration: none;
    color: white;
    font-family: sans sans-serif;
}
.loginsignup{
    color: rgb(85, 204, 246);
    font-size: 0.72rem;
    margin-top: 0.2rem;
    padding-left: 1.53px;
    text-decoration: none;
}
.signup{
    color: rgb(85, 204, 246);
    font-size: 0.72rem;
    margin-top: 0.2rem;
    text-decoration: none;
}
.adressbox{
    width: 70%;
    display: flex;
    height: 43px;
    margin-top: 40px;
    border-radius: 2px;
    border-color: aliceblue;
}   
    